.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: none;
    z-index: 1;
}

.active {
    position: relative;
    z-index: 2;
}

textarea {
    resize: none;
}

input {
    text-align: center;
}

@import "tailwindcss"